{% extends 'base/base-sidebar.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col-md-6 m-auto py-2 border rounded">
        <h3>Crie um novo {{ book_list }}</h3>
        <hr>
        <p>Conteúdo Restrito para Logados e Autorizados</p>
        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary mt-3">Criar</button>
        </form>
    </div>
</div>
{% endblock %}