{% extends 'base/base-sidebar.html' %}
{% load static %}


{% block content %}
<h1>LISTA DE ESTOQUE</h1>
<a href="{% url 'cadastrar-entrada-estoque' %}" class="btn btn-primary btn-sm">Adicionar Entrada</a>
<a href="{% url 'cadastrar-saida-estoque' %}" class="btn btn-primary btn-sm">Adicionar Saida</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Quantidade</th>
            <th>Produto</th>
            <th>Data Atualização</th>
        </tr>
        {% for item in object_list %}
        <tr>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.produto }}</td>
            <td>{{ item.data_atualizacao }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum estoque registrado.</td>
        </tr>
        {% endfor %}

    </table>
</div>


{% endblock %}