{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>:|: BASE :|:</title>
    {% endblock %}
    
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    {% block body %}
    <h1>Ooops está é uma página de modelo -_-</h1>
    {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>